header {
    font-family: 'Fredoka One';
    text-align: center;
    color: deeppink;
    margin-top: 2%;
    margin-left: 30%;
    margin-bottom: 3%;
    margin-right: 30%;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 5%;
}

/* Foto */
.Container {
    font-family: 'Fredoka One';
    background: rgb(0, 0, 0);
    width: 400px;
}

/* clearfix */
.Container::after {
    content: "";
    display: table;
    clear: both;
}

img {
    float: left;
    vertical-align: middle;
    width: 100px;
    display: inline-block;
}

.Dati {
    padding-left: 20px;
    color: white;
    display: inline-block;
}

.Nome {
    padding-top: 10px;
}

.Professione {
    font-family: 'Fredoka One' sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine;
    text-decoration: none;
}