header {
    font-family: 'Fredoka One';
    text-align: center;
    color: deeppink;
    margin-top: 2%;
    margin-left: 30%;
    margin-bottom: 3%;
    margin-right: 30%;
}

main {
    margin-left: 20%;
    margin-right: 20%;
}

p {
    text-align: center;
    margin-bottom: 5%;
}

/* Foto */
.Container {
    font-family: 'Fredoka One';
    background: black;
}

img {
    vertical-align: middle;
    width: 10%;
    display: inline-block;
}

.Dati {
    color: white;
    display: inline-block;
}

.Tipo {

}

.Nome {
    
}